# Use your domain
iriesphere.eu {
    reverse_proxy frontend:3000

    route /api/* {
        reverse_proxy backend:8080
    }

    reverse_proxy /ws backend:8080 {
        header_up Connection {http.request.header.Connection}
        header_up Upgrade {http.request.header.Upgrade}
    }
}

# Redirect HTTP to HTTPS
# http://iriesphere.eu {
#    redir https://iriesphere.eu{uri}
#}
