@tailwind base;
@tailwind components;
@tailwind utilities;

:root.wave-effect,
:root.wave-effect div p {
  --tw-text-opacity: 1;
  /* Make sure to override text opacity to make the gradient visible */
}

:root.wave-effect *,
:root.wave-effect div p * {
  text-decoration: linear-gradient(to right, red, gold, green);
  /* Apply Tailwind utilities for transparent text and background clipping */
  animation: waveAnimation 3s ease-in-out infinite;
}

@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/Rasa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('../public/fonts/Rasa-Italic-VariableFont_wght.ttf') format('truetype');
}

input {
  color: black !important;
  background-color: white !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
